.main-slider{
  .swiper{
    transition: all 1s;
    &:hover{
      .swiper-button-next , .swiper-button-prev {
        z-index: 1;
      }
    }
    .swiper-pagination-bullet{
      width: 5px;
      height: 5px;
    }
    .swiper-pagination-bullet-active{
      background-color: $primary-color;
      width: 15px;
      border-radius: 50px;
      padding: 3px 0;

    }
    .swiper-button-next, .swiper-button-prev{
      width: 40px!important;
      height: 40px!important;
      border: 1px solid #c3c3ce;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff!important;
      color: $primary-color;
      font-weight: bold;
      top: auto;
      bottom: 30px;
      z-index: 0;
      &:after{
        @include font-size(20px)
      }
    }
    .swiper-button-prev{
      right: 50px;
    }
    .swiper-button-next{
      right: 100px;

    }
  }

}//main-slider
