$body-color: #fff;
$white-color: #fff;
$dark-color: #000;
$primary-color: #ef4056 ;
$secondary-color: #061738 ;
$gap-sm: 12px;
$gap-md: 15px;
$gap-lg: 18px;
$border-radius-sm: 5px;
$border-radius-md: 15px;
$border-radius-lg: 18px;


$menu_background: #fff;
$menu_color: #000;
$menu_breakpoint : 1024px;
$menu_toggle_background: black;
$menu_border: 1px solid rgba(255,255,255,0.1);
$menu_padding: 15px 20px;
$menu_icon_padding: 5px 10px;