
<header class="header navbar-fix" id="home">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="logo-navbar align-items-lg-center d-block d-lg-flex justify-content-lg-between"><a class="brand d-inline-block pt-3 pt-lg-0" href="/"><i class="icon bi bi-intersect"></i>اسمارت</a>
          <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span>
              <!--span.navbar-toggler-icon-close.toggle-icon-->
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="./">خانه</a></li>
                <li class="nav-item"><a class="nav-link" href="about-us.html">درباره</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#team">تیم ما</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#how-it-work">چگونه کار می کند؟</a></li>
                <li class="nav-item"><a class="nav-link" href="index.html#price">قیمت</a></li>
                <li class="nav-item"><a class="nav-link" href="blog.html"> وبلاگ</a></li>
                <li class="nav-item"><a class="nav-link" href="album.html">گالری تصاویر</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-4 d-none d-lg-block">
        <div class="login"><a class="btn btn-link" href="login.html"><i class="icon bi bi-person"></i>ورود</a><a class="btn btn-primary" href="login.html">ثبت نام</a></div>
      </div>
    </div>
  </div>
</header>