doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title kian carpet
    link(rel='stylesheet' type='text/css' href='../style.css')
    link(rel='stylesheet' href='../stylesheets/swiper-bundle.min.css')
    script(src='../js/swiper-bundle.min.js')


html(lang='fa' dir='rtl')
    body
        include header
        main#main
            block main
        include footer

