<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>kian carpet</title>
  <!--link(rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css")-->
  <link href="./images/web-font-files/css/icons.css">
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<html lang="fa" dir="rtl">
  <body>
    <!--header.main-header(id="home")-->
    <!--  .top-header-->
    <!--      .container-->
    <!--          .row.header-wrapper-->
    <!--              .col-auto.col-lg-3-->
    <!--                  .header-logo-->
    <!--                      a.logo-wrapper(href="/")-->
    <!--                        img(src="./images/logo.webp")-->
    <!--              .col-auto.col-lg-3-->
    <!--                  .header-search-->
    <!--                      form.header-search-->
    <!--                          input(type="text" placeholder="جستجوی محصولات")-->
    <!--                          a.submit-search(type="submit")-->
    <!--                            i.icon.bi.bi-search-->
    <!---->
    <!--              .col-auto.col-lg-3-->
    <!--                  .header-items-->
    <!--                      .info-box-wrapper-->
    <!--                          .icon-->
    <!--                              img(src="./images/content-icon.svg")-->
    <!--                          .info-box-content-->
    <!--                              .info-box-subtitle نیاز به راهنمایی دارید ؟-->
    <!--                              .info-box-title 031-555555-->
    <!--                      .header-wishlist-->
    <!--                          a(href="")-->
    <!---->
    <!--                            i.bi.bi-suit-heart-->
    <!--                            span.count-badge 0-->
    <!--                      .header-cart-->
    <!--                          a(href="")-->
    <!--                            i.bi.bi-cart2-->
    <!---->
    <main id="main">
    </main>
    <footer id="footer"></footer>
  </body>
</html>